<div id="header" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200">
		<div class="uk-width-1-1 net-holder uk-text-right">
			<svg viewBox="0 0 34 34" class="net-img"><use class="flecha-menu" xlink:href="#tw"></use></svg>
			<svg viewBox="0 0 34 34" class="net-img"><use class="fb" xlink:href="#fb"></use></svg>
		</div>
	<nav class="uk-navbar-container" uk-navbar>
		<div class="uk-width-1-1 uk-text-center logo-holder fixed">
			<img class="logo-svp" data-src="<%= image_url("logo-svp-color.svg") %>" data-width data-height uk-img>
		</div>
		<div class="uk-width-1-1 uk-text-center fixed" style="margin-top: 10px;">
			<ul class="uk-inline-block" id="menu-header">
				<li><a href="#">Acerca de</a></li>
				<li><a href="#">Seminarios</a></li>
				<li><a href="#">Publicaciones</a></li>
				<li><a href="#">Multimedia</a></li>
				<li><a href="#">Cursos</a></li>
			</ul>
		</div>
		<div class="uk-navbar-left uk-text-center logo-holder sticky">
			<img class="logo-svp" data-src="<%= image_url("logo-svp-color.svg") %>" data-width data-height uk-img>
		</div>
		<div class="uk-navbar-right uk-text-center sticky">
			<ul class="uk-inline-block" id="menu-header">
				<li><a href="#">Acerca de</a></li>
				<li><a href="#">Seminarios</a></li>
				<li><a href="#">Publicaciones</a></li>
				<li><a href="#">Multimedia</a></li>
				<li><a href="#">Cursos</a></li>
			</ul>
		</div>
	</nav>
</div>


