<%= render 'principal/header' %>
<div class="encabezado-seccion uk-text-center">
	<span class="titulo-encabezado">Acerca <span class="outline">de</span></span>
</div>
<div class="contenido">
	<span class="titulo-seccion">Sobre <span class="outline blanco">el Seminario</span></span><br>
	<p style="margin-top: 50px;">Desde hace algunos años México padece más fuerte que nunca una epidemia de violencia y criminalidad atribuible al crimen organizado. Las estadísticas del Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública lo demuestran. Es también verificable el consenso de que la estrategia general no está funcionando.</p>
	<p>Las divergencias han estado en la forma de atender este problema nacional. El Seminario sobre Violencia y Paz de El Colegio de México --coordinado por Sergio Aguayo-- fue creado en 2014 para generar conocimiento aplicado sobre la naturaleza de un fenómeno con raíces domésticas e internacionales. El supuesto central ha sido que estamos ante un asunto que trasciende ideologías o lealtades partidistas y que para su solución requiere de un diálogo y una convergencia entre Estado, sociedad y comunidad internacional.</p>
	<p>El Seminario tiene las siguientes líneas de trabajo que interactúan permanentemente:</p>
	<% if false %>
	<ol class="lista-letra">
		<li>Conferencias, paneles y congresos públicos y privados con los protagonistas de la violencia y la paz. Por ejemplo, cada año ha organizado entre ocho y diez sesiones públicas donde intercambian ideas y propuestas académicos, activistas, periodistas y diplomáticos en torno a temas que van variando.</li>
	</ol>
	<% end %>
	<div class="lista">
		<div class="letra">
			<span class="outline blanco">a)</span>
		</div>
		<div class="parrafo">
			<p>Conferencias, paneles y congresos públicos y privados con los protagonistas de la violencia y la paz. Por ejemplo, cada año ha organizado entre ocho y diez sesiones públicas donde intercambian ideas y propuestas académicos, activistas, periodistas y diplomáticos en torno a temas que van variando.</p>
		</div>
		<div class="letra">
			<span class="outline blanco">b)</span>
		</div>
		<div class="parrafo">
			<p>Elaboración de una Pedagogía de la Empatía que atiende la enorme desconfianza entre instituciones del Estado y víctimas u organismos que trabajan con víctimas. En el 2018 habremos realizado cinco cursos auspiciados por diferentes instituciones de Estado. Las más importantes han sido la Comisión Nacional de los Derechos Humanos, la Comisión Ejecutiva de Atención a Víctimas y la Policía Federal. Los cursos de 60 horas tienen como cursantes a funcionarios que atienden víctimas (50%) y víctimas o integrantes de organizaciones que las atienden (50%). Los cursos son analizados por un equipo de terapeutas que van detectando los detonadores o inhibidores de empatía. Ya tenemos los recursos para transformar esta experiencia en una propuesta de Pedagogía de la Empatía que estará lista a finales de 2018. Difundiremos los resultados para que puedan ser replicados.</p>
		</div>
		<div class="letra">
			<span class="outline blanco">c)</span>
		</div>
		<div class="parrafo">
			<p>Casos de interacción entre crimen organizado, instituciones de Estado y organismos de la sociedad (medios de comunicación, organismos civiles, grupos empresariales e iglesias). Nos hemos centrado en el caso de Coahuila entre 2003 y 2016. El Seminario tiene acuerdos con el gobierno de la entidad, los colectivos que defienden desaparecidos, medios de comunicación e investigadores estadounidenses para recibir información que nos permite análisis muy originales. Los resultados nos están permitiendo entender los métodos utilizados por Los Zetas para controlar territorios, las formas como la sociedad ha resistido y las estrategias seguidas por el estado de Coahuila para controlar la amenaza.</p>
		</div>
		<div class="letra">
			<span class="outline blanco">d)</span>
		</div>
		<div class="parrafo">
			<p>El capital social positivo y negativo en México. El capital social es la red de relaciones que posee un individuo o grupo y generalmente se asocia con las organizaciones sociales y se le da una connotación positiva. Sin embargo, el capital social tiene también un lado oscuro: ese tipo redes también se presenta entre los grupos que apoyan a la delincuencia. En otras palabras una parte de la población apoya al estado de derecho y otra a la delincuencia organizada. Es indispensable entender los factores tras uno y otro sector. Nuestro enfoque se nutre de diversas corrientes teóricas. En la parte sobre capital social nos apoyamos en Pierre Bordieu (1986), James Coleman (1988 y 1990) y Robert Putnam (1994, 1995 y 2,000). Otra veta que incorporamos es la relación entre espacio y ocurrencia del crimen (Weisburd, et al., 2012; Weisburd, 2016); busca establecer la conexión entre las condiciones sociales, económicas y políticas de un espacio determinado (en el caso del proyecto, un polígono) y la incidencia de delitos y la construcción de la paz. En Coahuila tenemos un proyecto para reconstruir la historia de los cuatro colectivos que trabajan a favor de los desaparecidos. En la delegación Cuauhtémoc en la Ciudad de México estamos haciendo investigación de campo sobre tres grupos particulares: trabajadoras sexuales en la colonia Tabacalera, vendedores de drogas en Tepito y vecinos que luchan contra las construcciones ilegales en la Condesa.</p>
		</div>
		<div class="letra">
			<span class="outline blanco">e)</span>
		</div>
		<div class="parrafo">
			<p>Estaría, finalmente, el Laboratorio Digital de Violencia y Paz (LDVP) un proyecto novedoso y moerno para el cual estamos presentando este proyecto de investigación básica.</p>
		</div>
	</div>

	<p>Una de críticas más frecuentes a la estrategia actual es la falta de estrategias locales de prevención (México Evalúa, 2017). Ello se debe en parte a la falta de conocimiento sobre las dinámicas locales que contribuyen a configurar situaciones de paz o violencia en los municipios. El espacio o lugar como unidad de análisis permiten identificar las características de los fenómenos delictivos y las condiciones que lo explican (Eck, 2005). En este sentido, la representación cartográfica es una herramienta útil para analizar la violencia y la paz en su relación con la estructura socioeconómica o características urbanísticas de un espacio determinado, que puede ser un municipio, ciudad, colonia. La visualización de hechos delictivos en mapas no es nueva, sin embargo, el desarrollo tecnológico ha permitido la visualización y análisis de diferentes variables al mismo tiempo, lo que facilita establecer la relación entre aspectos ligados a la violencia y la paz. Así, el mapeo de diferentes variables sociales, económicas y políticas se interconectan con dinámicas de violencia y paz y ello conduce a recomendaciones de políticas públicas para la prevención que se adapten a las condiciones específicas de cada uno los espacios. El Laboratorio está pensado para incorporar una gran cantidad de información sobre demografía, delitos, organismos civiles, condiciones medio ambientales, salud pública, etcétera. Al requerirse de un enfoque interdisciplinario, El Colegio de México invitó a participar al Instituto Nacional de Salud Pública (INSP) y al Centro de Investigación y de Estudios Avanzados (CINVESTAV) del Instituto Politécnico Nacional. El convenio se firmó en octubre de 2017.</p>
	<p>También se seleccionaron dos municipios y una delegación de la capital para llevar a cabo el proyecto piloto. Ya se tienen acuerdos con Ciudad Nezahualcóyotl en el Estado de México y el municipio de Jiutepec en Morelos. Eso nos está permitiendo acceder a información oficial inédita de enorme detalle.</p>
</div>
<%= render 'principal/footer' %>
