<%= render 'principal/header' %>
<div class="encabezado-seccion uk-text-center">
	<span class="titulo-encabezado">Acerca <span class="outline">de</span></span>
</div>
<div class="contenido">
	<span class="titulo-seccion">Sobre <span class="outline blanco">el Seminario</span></span><br>
	<p>Desde hace algunos años México padece más fuerte que nunca una epidemia de violencia y criminalidad atribuible al crimen organizado. Las estadísticas del Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública lo demuestran. Es también verificable el consenso de que la estrategia general no está funcionando.</p>
	<p>Las divergencias han estado en la forma de atender este problema nacional. El Seminario sobre Violencia y Paz de El Colegio de México --coordinado por Sergio Aguayo-- fue creado en 2014 para generar conocimiento aplicado sobre la naturaleza de un fenómeno con raíces domésticas e internacionales. El supuesto central ha sido que estamos ante un asunto que trasciende ideologías o lealtades partidistas y que para su solución requiere de un diálogo y una convergencia entre Estado, sociedad y comunidad internacional.</p>
	<p>El Seminario tiene las siguientes líneas de trabajo que interactúan permanentemente:</p>
</div>
<%= render 'principal/footer' %>
