<%= render 'principal/header' %>
<div class="encabezado-seccion uk-text-center">
	<span class="titulo-encabezado">Multimedia</span>
</div>
<div class="contenido">
	<div class="uk-grid-collapse uk-flex-middle uk-child-width-1-2@s uk-margin-large-bottom" uk-grid>
	</div>
	<div style="margin-bottom: 30px !important;" class="sel-year uk-grid-collapse uk-child-width-1-2" uk-grid>
		<div class="sem-year"><a id="nxt-yr" data-remote="true" style="font-size: 25px;"></a></div>
		<div class="sem-year uk-text-right"><a id="lst-yr" data-remote="true" style="font-size: 25px;"></a></div>
	</div>
</div>
<script>
	var xhr = new XMLHttpRequest();
	xhr.open("get","<%= multimedia_path %>.js?offset=<%= params[:offset] ? params[:offset] : '0' %>");
	xhr.withCredentials = true;
	xhr.responseType = "blob";
	xhr.setRequestHeader("X-Requested-With","XMLHttpRequest");
	xhr.onload = function(){
		if(xhr.status === 200){
			var s = document.querySelector("#script-js");
			if(s)
				s.remove();
			var script = document.createElement("script");
			script.id = "script-js";
			script.src = URL.createObjectURL(xhr.response);
			document.body.appendChild(script);
		}
	};
	xhr.send();
</script>
<%= render 'principal/footer' %>
