<%= render 'principal/header' %>
<div class="encabezado-seccion uk-text-center">
	<span class="titulo-encabezado">Mexico Violence Research Project</span>
</div>
<div class="contenido">
	<p>
		<a class="uk-link" target="_blank" href="http://www.mexicoviolence.org">www.mexicoviolence.org</a><br>
		<b>Twitter:</b> <a class="uk-link" target="_blank" href="https://twitter.com/mexicoviolence">@mexicoviolence</a><br>
		<b>Facebook:</b> <a class="uk-link" target="_blank" href="https://www.facebook.com/mexicoviolenceresourceproject">https://www.facebook.com/mexicoviolenceresourceproject</a>
	</p>
	<div class="uk-margin-medium-top uk-margin-medium-bottom">
		<div class="uk-flex-center uk-flex-middle uk-grid-column-medium uk-grid-row-medium" uk-grid uk-height-match="> div">
			<div>
				<img data-src="<%= image_url('mvrp1.png') %>" data-width data-height uk-img>
			</div>
			<div>
				<img data-src="<%= image_url('mvrp2.png') %>" data-width data-height uk-img>
			</div>
		</div>
	</div>
</div>
<%= render 'principal/footer' %>
