<%= render 'principal/header' %>
<div class="encabezado-seccion uk-text-center">
	<span class="titulo-encabezado">Publicaciones</span>
</div>
<div class="contenido">
	<div class="uk-child-width-1-3@m uk-grid-collapse" uk-grid>
		<% @publicaciones.each do |p| %>
		<div class="publicacion uk-text-center">
			<a href="#">
				<img data-src="<%= p.portada.url(:thumbnail) %>" data-width data-height uk-img>
			</a>
			<a href="<%= publicacion:path(pub: p.indice) %>" class="boton-seminario">Más información</a>
		</div>
		<% end %>
	</div> 
</div>
<%= render 'principal/footer' %>
