.lista { width: 90%; margin: 0 auto;
	.letra { float: left; width: 50px; font-size: 45px; font-family: "Montserrat" }
	.parrafo { float: left; width: -webkit-calc(100% - 50px); width: -moz-calc(100% - 50px); width: calc(100% - 50px); }	
}
