#footer { background-color: #BCE2D3; color: #303635; font-family: "Roboto regular"; padding-top: 50px; padding-bottom: 35px;
	> div { width: 85%; max-width: 1200px; margin: 0 auto;
		> div:nth-child(1) { width: 80%; margin: 0 auto;
			img {width: 75%; max-width: 280px; height: auto; }
		}
		> div:nth-child(2) { margin: 35px auto; }
		.net-footer { width: 100%; max-width: 40px; height: auto; max-height: 45px; }
	}
}
