#footer { background-color: #BCE2D3; color: #303635; font-family: "Roboto regular";
	> div { width: 85%; max-width: 1200px;
		.net-footer { width: 100%; max-width: 40px; height: auto; max-height: 45px; }
	}
}
