#footer { background-color: #BCE2D3; color: #303635; font-family: "Roboto regular"; padding-top: 70px; padding-bottom: 40px;
	> div { width: 85%; max-width: 1200px; margin: 0 auto;
		> div:nth-child(1) { width: 80%; margin: 0 auto;
			img {width: 78%; max-width: 320px; height: auto; }
		}
		> div:nth-child(2) { margin: 20px auto; }
		.net-footer { width: 100%; max-width: 40px; height: auto; max-height: 45px; }
	}
}
