#header {
	nav { width: 90%; margin: 0 auto; padding-bottom: 50px; padding-top:30px; display: block !important; }
	.net-holder {  padding: 15px 0; }
	.net-img { max-width: 30px; width:100%; height: auto; max-height: 30px; }
	.logo-holder { padding: 10px 0;
		#logo-svp { max-width: 350px; width: 95%; height: auto; }
	}
	#menu-header { list-style-type: none;
		li { float: left; padding: 10px 15px; font-size: 22px;
			a { color: #4D4F4E;
				text-transform: uppercase;
				-webkit-transition: all 0.3s linear;
				-moz-transition: all 0.3s linear;
				-ms-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				transition: all 0.3s linear;
				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					bottom: 0;
					left: 0;
					background-color: #000;
					visibility: hidden;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transition: all 0.3s ease-in-out 0s;
					transition: all 0.3s ease-in-out 0s;
				}
				&:hover { color: #8AD6CC }
				&:hover:before {
					visibility: visible;
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
				&.active, :active { color: #F16F70 }
			}
		}
	}
}
