body { height: 100%; }
#body-wrap { min-height: 100%; }

#slider {
	.uk-slider-nav {
		li { padding: 0 4px; }
		li > a { background-color: #CCDEDC; border-color: #CCDEDC; width: 13px; height: 13px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -ms-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;
			&:hover { background-color: #F16F70; border-color: #F16F70; }
		}
		li.uk-active > a { background-color: #F16F70; border-color: #F16F70; }
	}
}

.texto-rosa { color: #F16F70; }

#acerca { width: 100%; max-width: 1200px; margin: 0 auto; margin-top: 50px; margin-bottom: 30px;
	.titulo { text-transform: uppercase; font-family: "Montserrat"; font-size: 30px; font-weight: 900; }
	p:nth-child(2) { font-family: "Roboto"; font-weight: 500; font-size: 20px; }
	.negritas { font-weight: 900; }
}

